.full-user-nav {
    width: 400px;
    height: 100%;
    padding: 5px;
    display: grid;
    row-gap: 5px;
    grid-template-rows: 20% 80%;
}

.user-playlists-info {
    cursor: pointer;
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    padding: 0 10px;
}

.user-playlists-info:hover {
    background-color: #1a1a1a;
}

.library-home-and-search {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    height: 100%;
}

.library-general-button {
    display: flex;
    align-items: center;
}

.library-general-button>* {
    color: #b3b3b3;
    font-size: 15px;
    padding: 10px;
}

.full-user-nav>div {
    background-color: #121212;
    border: 1px solid #121212;
    border-radius: 10px;
}

.library-playlist-header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: flex-end;
    /* height: 100%; */
}

.library-playlist-header > * {
    color: #b3b3b3;

}

.library-all-user-playlists {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
}

.library-playlist-header-title {
    display: flex;
}

.library-playlist-header-title > * {
    padding: 10px;
}

.library-create-playlist-button {
    padding: 10px;
}

/* .library-playlist-name {
    color: white;
    width: 100%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

.user-playlists-cover-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.current-user-playlists-wrapper {
    overflow-y: auto;
    height: 100%;
} 

.library-bar-no-playlists {
    text-align: center;
}

.library-bar-no-playlists > p {
    color: white;
}

.library-playlist-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 0;
    row-gap: 5px;
}

.library-playlist-info-wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.fa-solid.fa-thumbtack {
    font-size: 12px;
    color: #1ed660;
}

.library-playlist-info-title {
    font-size: 15px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 310px;
}

.library-playlist-info-dot {
    font-size: 5px;
    color: #919191;
}

.library-playlist-info-desc {
    color: #919191;
    font-size: 12px;
}