.full-user-nav {
    width: 400px;
    height: 100%;
    padding: 5px;
    display: grid;
    row-gap: 5px;
    grid-template-rows: 20% 80%;
}

.user-playlists-info {
    cursor: pointer;
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    padding: 0 10px;
}

.user-playlists-info:hover {
    background-color: #1a1a1a;
}

.library-home-and-search {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    height: 100%;
}

.library-general-button {
    display: flex;
    align-items: center;
}

.library-general-button>* {
    color: #b3b3b3;
    font-size: 15px;
    padding: 10px;
}

.full-user-nav>div {
    background-color: #121212;
    border: 1px solid #121212;
    border-radius: 10px;
}

.library-playlist-header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: flex-end;
    /* height: 100%; */
}

.library-playlist-header > * {
    color: #b3b3b3;

}

.library-all-user-playlists {
    height: 100%;
    border: 10px solid green;
}

.library-playlist-header-title {
    display: flex;
}

.library-playlist-header-title > * {
    padding: 10px;
}

.library-create-playlist-button {
    padding: 10px;
}

.library-playlist-name {
    color: white;
    width: 100%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-playlists-cover-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
}
/* 
.current-user-playlists-wrapper {
    overflow: scroll;
    height: calc(100% - 40px);
} */

.library-bar-no-playlists {
    text-align: center;
}

.library-bar-no-playlists > p {
    color: white;
}