.single-playlist-options {
    position: relative;
}

.edit-playlist-menu {
    position: absolute;
    border: 2px solid blue;
    z-index: 2;
    background-color: #282828;
    color: white;
    left: 50px;
    bottom: 10px;
}