.single-playlist-page > * {
    color: white;
}

.single-playlist-page {
    width: 100%;
    background-color: #121212;
    padding: 20px;
    border-radius: 5px;
}

.single-playlist-name {
    font-size: 50px;
}

.single-playlist-options {
    position: relative;
    padding-bottom: 20px;
}

.single-playlist-buttons {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.play-playlist-button {
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    background-color: #1ed660;
    font-size: 20px;
    color: black;
}

.playlist-ellipsis-options {
    font-size: 20px;
}

.edit-playlist-menu {
    position: absolute;
    z-index: 2;
    background-color: #282828;
    color: white;
    left: 50px;
    bottom: 10px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

.edit-playlist-menu > div {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}


.edit-playlist-menu > div:hover {
    background-color: #3e3e3e;
}

.single-playlist-header {
    display: flex;
    margin-top: 50px;
    padding: 20px 0;
    column-gap: 25px;
}

.single-playlist-cover-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.playlist-profile-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.single-playlist-no-image {
    font-size: 20px;
    padding: 10px;
}

.single-playlist-header-text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.single-playlist-header-owner-text {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.single-profile-with-songs {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.single-profile-with-songs > i {
    font-size: 3px;
}

.single-playlist-album-cover-image {
    height: 40px;
    object-fit: cover;
    aspect-ratio: 1 /1;
}

.single-playlist-title {
    display: flex;
    column-gap: 10px;
}

.single-playlist-songs-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    /* padding: 10px; */
}

.single-playlist-table-headers > th {
    padding-right: 10px;
}
.single-playlist-table-headers > th:nth-child(1) {
    width: 5%;
    text-align: left;
}

.single-playlist-table-headers > th:nth-child(2) {
    width: 40%;
    text-align: left;
}

.single-playlist-table-headers > th:nth-child(3) {
    text-align: left;
    width: 40%;
}

.single-playlist-table-headers > th:nth-child(4) {
    text-align: right;
    width: 10%;
}

.single-playlist-song-length{
    text-align: right;
    padding-right: 15px;
}

.single-playlist-add-songs-table {
    table-layout: fixed;
    width: 100%;
    padding-top: 30px;
    border-spacing: 0 10px;
}

.single-playlist-add-songs-body > tr > td:nth-child(1) {
    width: 50%;
}

.single-playlist-add-songs-body > tr > td:nth-child(2) {
    width: 30%;
}

.single-playlist-add-songs-body > tr > td:nth-child(3) {
    text-align: right;
}

.playlist-reccommended-songs {
    padding-top: 50px;
    padding-bottom: 20px;
}

.playlist-recommended-songs-add-button {
    border: 1px solid white;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    font-weight: 700;
    width: 60px;
}

.single-playlist-add-songs-table-row {
    height: 40px;
}

.playlist-page-artit-cover-image-description {
    /* border: 1px solid white; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playlist-page-artit-cover-image-description > p:nth-child(2) {
    font-weight: 300;
    font-size: 12px;
}

.playlist-page-artit-cover-image-description > p:nth-child(1) {
    /* font-weight: 300; */
    font-size: 14px;
}

.playlist-all-reviews-wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.playlist-review-wrapper {
    width: 100%;
    border: 1px solid white;
    padding: 10px;
    height: 300px;
    display: grid;
    /* row-gap: 10px; */
    grid-template-rows: 60px 30px 1fr;
    align-items: start;
    position: relative;
}

.playlist-review-profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.playlist-review-profile-no-image {
    font-size: 25px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
}

.review-owner-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.review-star-rating {
    display: flex;
    column-gap: 2px;
}

.completed-review-buttons {
    justify-self: end;
    display: flex;
    column-gap: 5px;
}

.completed-review-buttons  > button {
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    border-color: transparent;
}

.completed-review-buttons > button:nth-child(1) {
    color: white;
    background-color: transparent;
}

.completed-review-buttons > button:nth-child(2) {
    background-color: #1ed660;
    color: black;
    font-weight: 500;
}

.actual-playlist-review {
    font-size: 12px;
}

.review-smiles-green {
    color: #1ed660;
}

.playlist-song-row {
    border: 10px solid transparent;
}

.playlist-song-row:hover {
    background-color: #2a2a2a;
}

.play-playlist-button-complete-heart, .play-playlist-button-incomplete-heart {
    font-size: 25px;
}