/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;

}

.home {
    display: flex;
    height: 85vh;
}

.splash-page-display {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.changing-content {
    padding: 5px;
    overflow: hidden;
    width: calc(100% - 400px);
    border-radius: 5px;
    scrollbar-gutter: stable;
}

.changing-content:hover {
    overflow-y: scroll;
    overflow-x: auto;
}

.entire-page {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.footer {
    height: 15vh;
}

.fa-solid.fa-heart {
    color: #1ed660;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .2);
}

::-moz-scrollbar {
    width: 10px;
}

::-moz-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .2);
}

@media screen and (max-width: 1200px) {
    .changing-content {
        width: 100%;
    }
}