/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    
}

.home {
    display: flex;
    height: 85vh;
    /* border: 2px solid red; */
}

.splash-page-display {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.changing-content {
    padding: 15px;
    overflow: scroll;
    width: calc(100% - 400px);
}

.entire-page {
    width: 100vw;
    height: 100vh;
    background-color: black;
}