.audio-bar > *{
    color: white;
}

.audio-bar-album-cover {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}

.visible-audio-bar {
    width: 100%;
    height: 100%;
    display: grid;
    /* align-items: center; */
    /* justify-content: space-between; */
    grid-template-columns: 175px 1fr 175px;
    padding: 0 10px;
    align-items: center;
}

.audio-bar {
    height: 100%;
}

.playing-song-details {
    width: 100%;
}

.audio-range-slider {
    width: 100%;
    justify-self: end;
    display: flex;
    justify-content: flex-end;
}


.audio-bar-song-details {
    width: 100%;
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.audio-bar-song-name-artist {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
}

.audio-bar-song-name-artist > p:nth-child(1) {
    font-size: 15px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.audio-bar-song-name-artist > p:nth-child(2) {
    font-size: 10px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.audio-bar-song-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    row-gap: 10px;
}

.audio-bar-song-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
    justify-self: center;
}

.audio-bar-song-buttons > button {
    background-color: transparent;
    border-color: transparent;
    position: relative;
}

.forward-backward-buttons, .shuffle-white, .shuffle-loop-buttons-white{
    font-size: 20px;
    color: #b3b3b3;
}

.shuffle-loop-buttons-green {
    font-size: 20px;
    color: #1ed660;
}

.forward-backward-buttons:hover {
    color: white;
}

.play-pause-button {
    font-size: 30px;
    color: white;
}

.song-duration-input {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.song-duration-input > span {
    font-size: 12px;
}

.audio-button::before {
    content: attr(data-button-type);
    position: absolute;
    display:none;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: max-content;
    height: 20px;
    background-color: #282828;
    padding: 5px;
    border-radius: 5px;
  }

.audio-button:hover::before {
    display:block;
}

.sing-duration-slider {
    width: 60%;
    display: grid;
    align-self: center;
    accent-color: #ffffff;
}

input[type="range"] {
    accent-color: #ffffff;
    height: 5px;
}

input[type="range"]:hover:not(:disabled){
    accent-color: #1ed660;
}

@media screen and (max-width: 900px) {
    .visible-audio-bar {
        grid-template-columns: 100px 1fr 100px;
    }
}