.search-nav {
    position: fixed;
    width: calc(100% - 400px);
    height: 65px;
    display: flex;
    justify-content: flex-end;
    top: 0;
    align-items: center;
    padding-right: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

.search-page-wrapper {
    background-color: #121212;
    height: 100%;
    border-radius: 15px;
    /* padding: 10px; */
}

.search-results-wrapper>* {
    color: white;
}

.search-results-wrapper {
    padding: 10px;
    background-color: #121212;
    border-radius: 15px;
}

.search-results-wrapper,
.search-page-no-results {
    padding-top: 100px;
}

.search-page-no-results {
    color: white;
}

.search-songs-results-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 100%;
    grid-template-rows: 300px;
}

.search-songs-results-wrapper > div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 8fr;
    row-gap: 10px;
}

.top-result-wrapper {
    padding: 15px;
    background-color: rgba(255, 255, 255, .02);
    border-radius: 15px;
    transition: background-color 0.5s;
    height: 100%;
    display: grid;
    align-items: center;
    position: relative;
}

.top-result-play {
    font-size: 45px;
    position: absolute;
    right: 20px;
    bottom: 0px;
    transition: 0.5s;
    color: transparent;
}

.top-result-wrapper:hover {
    background-color: rgba(255, 255, 255, .05);
    .top-result-play {
        color: var(--main-icon-color);
        bottom: 20px;
    }
}

.top-result-image {
    width: 20%;
    border-radius: 5px;
}

.top-result-name-caption {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.top-result-song-name {
    font-weight: 800;
    font-size: 30px;
}

.top-result-caption {
    font-size: 12px;
    font-weight: 800;
    padding: 8px;
    background-color: #131313;
    border-radius: 15px;
}

.search-songs-table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    display: grid;
    grid-template-rows: repeat(4, 60px);
    row-gap: 5px;
}

.search-songs-table-row {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.search-songs-table-row > div:nth-child(1) {
    width: 10%;
    height: 100%;
    position: relative;
}

.search-song-play {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    display: none;
    font-size: 13px;
}

.song-result-name-artist-wrapper {
    width: 70%;
    padding-left: 10px;
    text-align: left;
}

.song-result-name-artist-wrapper > p {
    font-size: 15px;
}

.search-songs-table-row > div:nth-child(3) {
    width: 10%;
}

.search-not-saved-song {
    display: none;
}

.song-results-cover-image {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.search-song-length {
    text-align: right;
    width: 10%;
}

.search-songs-table-row:hover {
    background-color: rgba(255, 255, 255, .1);

    .search-not-saved-song {
        display: block;
    }

    .search-song-play {
        display: block;
    }

    .song-results-cover-image {
        filter: brightness(50%);
    }
}

@media screen and (min-width: 1400px) {
    .search-songs-results-wrapper {
        grid-template-rows: 350px;
    }
}