.whole-splash-page {
    background: linear-gradient(315deg, #6c0ee0, #e333ac);
    width: 100%;
    height: calc(100vh - 160px);
    height: 100%;
    overflow: hidden;
    position: relative;
    /* top: 0px; */
}

.circle-one {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(#c42ab9, #a21fc8);
    top: 15%;
}

.circle-two {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    top: 50%;
    left: 30%;
    background-color: #8516d5;
    overflow: hidden;
}

.circle-three {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(315deg, #6e0fe0, #a01ec9);
    right: 0;
}

.slash-page-text {
    position: absolute;
    width: 100%;
    z-index: 5;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.splash-slogan {
    font-size: 50px;
    font-weight: 800;
    width: 700px;
    color: white;
}

.slash-page-text>button {
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    font-weight: 600;
    border-color: transparent;
}

.splash-footer  > * {
    color: white;
}

.splash-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-links {
    display: flex;
    column-gap: 20px;
}

.about-links > div > a {
    /* text-decoration: none; */
    color: white;
    font-size: 20px;
}