.user-profiles-wrapper {
    width: 100%;
    padding: 10px;
}

.user-profiles-wrapper > * {
    color: white;
}

.user-profiles-header {
    display: flex;
    /* padding-top: 80px; */
    width: 100%;
    height: 325px;
    align-items: flex-end;
    column-gap: 20px;
}

.user-profile-main-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.user-profile-details {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.user-profile-playlists-wrapper, .user-profile-followers-following-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    cursor: pointer;
    width: 100%;
    /* min-height: 300px; */
    overflow: hidden;
}

.user-profile-playlists-cover-image, .other-users-profile-images {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}

.other-users-profile-images {
    border-radius: 50%;
}

.user-profile-name {
    font-size: 80px;
    padding: 0;
    margin: 0;
    font-weight: 800;
}

.user-profile-caption {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}

.user-profile-details > p {
    font-size: 15px;
}

.user-profile-details > i {
    font-size: 3px;
}

.user-profile-section {
    padding-top: 30px;
    width: 100%;
}

.individual-profile-instance-wrappers {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    transition: background-color 0.5s;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    padding-bottom: 50px;
}

.individual-profile-instance-wrappers:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.user-profile-section > h2 {
    padding-bottom: 20px;
}

.user-profile-playlist-name, .user-profile-follows-name {
    font-weight: 700;
    width: 100%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.section {
    width: 100%;
}

.fa-regular.fa-face-sad-cry {
    color: #1ed660;
}

/* @media screen and (min-width: 1200px) {
    .user-profile-playlists-wrapper, .user-profile-followers-following-wrapper {
        grid-template-rows: 600px;
        border: 1px solid red;
    }
} */