.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar-splash-full {
  /* position: sticky; */
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.navbar-splash-logo {
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.navbar-splash-full > * {
  color: white;
}

.navbar-splash-options {
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 5px;
}

.navbar-splash-profile-options {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  z-index: 10;
  padding: 10px;
  width: 150px;
}

.navbar-splash-options-logged-out {
  display: flex;
  column-gap: 10px;
  cursor: pointer;
}

.navbar-splash-options-logged-out > h3:hover {
  color: #1ed660;
}

.navbar-splash-profile-options > div:nth-child(1) {
  color: black;
  font-weight: 600;
}

.navbar-splash-profile-options > div:nth-child(2) {
  color: black;
}

.navbar-splash-profile-options > div:hover {
  color: #1ed660;
}

.splash-profile-text {
  font-weight: 600;
}

.splash-profile-icon-green {
  color: #1ed660;
}

.splash-profile-image {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.spash-logo {
  width: 40px;
  height: 40px;
}

.splash-logo-and-name {
  display: flex;
  align-items: center;
  column-gap: 10px;
}